<footer>
  <section>
    <h2>Adres</h2>
    <address>
     ...
    </address>
  </section>

  <section>
    <h2>Contact</h2>
    <address>
      <a href="mailto:...">...</a><br>
      <a href="tel:">...</a>
    </address>
  </section>

  <section>
    <h2>Samenwerken</h2>
    <p>
      Wil je samenwerken aan uitdagingen in Amsterdam Oost? Stuur een mail naar
      <a href="mailto:...">...</a>.
    </p>
  </p>
</footer>

</body>
</html>