/* Typography */

@font-face {
    font-family: "Poppins-Black";
    src: url(../fonts/Poppins-Black.ttf) format("truetype");
  }
  
  @font-face {
    font-family: "Poppins-Bold";
    src: url(../fonts/Poppins-Bold.ttf) format("truetype"),
      url(../fonts/Poppins-Bold.woff) format("woff");
  }
  
  @font-face {
    font-family: "Poppins-Medium";
    src: url(../fonts/Poppins/Poppins-Medium.ttf) format("truetype");
  }
  
  @font-face {
    font-family: "Poppins-Regular";
    src: url(../fonts/Poppins-Regular.ttf) format("truetype");
  }

/* Main styling */

html {
	font-family: 'Mulish', sans-serif;
	line-height: 1.5;
	overflow-x: hidden;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
    /* Color usage */
	--main-color-green: #4e7141;
	--main-color-beige: #f9e9c2;
	--main-color-orange: #ff8d06;
	--main-color-brown: #491b02;

	--text-color-white: #fff;
	--text-color-black: #000;

    /* Font usage */
	--header-font: 'Poppins-Black', sans-serif;
	--sub-header-font: 'Poppins-Bold', sans-serif;
	--paragraph-font: 'Poppins-Medium', sans-serif;
	--link-font: 'Poppins-Regular', sans-serif;

    background-color: var(--main-color-beige);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--header-font);
}

p {
    font-family: var(--paragraph-font);
    color: var(--text-color-black);
}
ul, li, summary {
    list-style: none;
}
a{
    font-family: var(--link-font);
    color: var(--text-color-black);
    text-decoration: none;
}
img {
    width: 100%;
    height: auto;
}