/* Typography */

@font-face {
    font-family: "Poppins-Black";
    src: url(../fonts/Poppins-Black.ttf) format("truetype");
  }
  
  @font-face {
    font-family: "Poppins-Bold";
    src: url(../fonts/Poppins-Bold.ttf) format("truetype"),
      url(../fonts/Poppins-Bold.woff) format("woff");
  }
  
  @font-face {
    font-family: "Poppins-Medium";
    src: url(../fonts/Poppins-Medium.ttf) format("truetype");
  }
  
  @font-face {
    font-family: "Poppins-Regular";
    src: url(../fonts/Poppins-Regular.ttf) format("truetype");
  }

/* Main styling */

html {
	font-family: 'Mulish', sans-serif;
	line-height: 1.5;
	overflow-x: hidden;
}

body {
    /* Color usage */
	--color-primary: #4e7141;
    --color-primary-dark:  #2c5130;
	--color-secondary: #f9e9c2;
	--color-accent: #ff8d06;
	--color-accen-dark: #491b02;


	--text-light: #fff;
	--text-dark: #000;

    /* Font usage */
	--font-header: 'Poppins-Black', sans-serif;
	--font-subheader: 'Poppins-Bold', sans-serif;
	--font-paragraph: 'Poppins-Medium', sans-serif;
	--font-link: 'Poppins-Regular', sans-serif;

    /* Global transition */
    --global-transition: all 0.3s ease-in-out;
    --global-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);

    background-color: var(--color-secondary);
    color: var(--text-dark);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
h1{
    font-family: var(--font-header);
}
h2, h3, h4, h5, h6 {
    font-family: var(--font-subheader);
}

p {
    font-family: var(--font-paragraph);
}
ul, li, summary {
    list-style: none;
}
a{
    font-family: var(--font-link);
    color: var(--text-light);
    text-decoration: none;
    transition: var(--global-transition);
}
img {
    width: 100%;
    height: auto;
}